{% extends 'layouts/base.html' %}
<!---->
{% block content %}
<!---->
<h1>Persona Natural - Fotógrafo</h1>
<div class="about">
  <img src="https://picsum.photos/300/350" />
  <div class="about-content">
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non nunc
      et leo rutrum porttitor. Maecenas dictum, dui semper interdum commodo, sem
      lectus rhoncus erat, vel iaculis lorem neque vitae mauris. Sed sed
      tincidunt enim, vel fringilla magna. Sed sit amet sodales arcu. Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ante
      semper, hendrerit nulla sit amet, sodales ante. Sed non sollicitudin nisi,
      nec facilisis augue. Pellentesque in mi ex. Proin id pulvinar ligula. Cras
      interdum leo lorem. Sed ac nulla pellentesque, sollicitudin nibh id,
      porttitor purus. Mauris mattis tincidunt dui non lacinia. Nulla
      consectetur, nulla et ultricies rhoncus, augue ligula porta diam, quis
      lacinia ipsum leo a tortor. Morbi cursus et lectus ut ultrices. Duis felis
      turpis, auctor vitae feugiat ut, iaculis quis neque. Cras ut quam et risus
      egestas porta vitae quis dolor.
    </p>
  </div>
</div>
<!---->
{% endblock %}
